<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDOp1SBtmfysxyw1AgU8pAO8v9hauAWA8c</string>
	<key>GCM_SENDER_ID</key>
	<string>388535345552</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pgdbapp</string>
	<key>PROJECT_ID</key>
	<string>trabalho-final-pgdb</string>
	<key>STORAGE_BUCKET</key>
	<string>trabalho-final-pgdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388535345552:ios:5341881c094343f9d61315</string>
</dict>
</plist>